<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <div><%= f.label :名前 %></div>
    <div><%= f.label :last_name,"（姓）" %></div>
    <div><%= f.text_field :last_name, autofocus: true, placeholder: "物物" %></div>
    <div><%= f.label :first_name,"（名）" %></div>
    <div><%= f.text_field :first_name, placeholder: "交換" %></div>
  </div>
  
  <div class="field row">
    <div><%= f.label :フリガナ %></div>
    <div><%= f.label :last_name_kana,"（セイ）" %></div>
    <div><%= f.text_field :last_name_kana, placeholder: "ブツブツ" %></div>
    <div><%= f.label :fist_name_kana,"（メイ）" %></div>
    <div><%= f.text_field :first_name_kana, placeholder: "コウカン" %></div>
  </div>

  <div class="field">
    <%= f.label :email,"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div>
    <div><%= f.label :郵便番号（ハイフンなし） %></div>
    <div><%= f.text_field :post_code, placeholder: "0000000", size: 25 %></div>
  </div>

  <div class="field">
    <div><%= f.label :住所 %></div>
    <div><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: 60 %></div>
  </div>

  <div class="field">
    <div><%= f.label :電話番号（ハイフンなし） %></div>
    <div><%= f.text_field :phone_number, placeholder: "00000000000", size: 25 %></div>
  </div>

  <div class="field">
    <%= f.label :password,"パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,"パスワード（確認用）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
