<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-6 col-md-6">
      <ul class="navbar-nav" style="flex-direction: row;">
      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete do %>
           ログアウト
          <% end %>
        </li>
     <% else %>
        <li class="nav-item">
          <%= link_to about_path do %>
           About
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path do %>
            新規登録
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path do %>
           ログイン
          <% end %>
        </li>
        <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
